

 <!-- Developers, why are we using data-id and not just id? -->
 <!DOCTYPE html>
 <html>

   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <style>
     </style>
   </head>


   <body>

<div>{{#> scripts-block}}
{{!-- Let's add a second stylesheet for this layout. --}}
  {{#*inline "head-block"}}

  {{/inline}}
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tags :defaults %>

  <% 1000.times do |n| %>
  user_<%= n %>:
    username: <%= "user#{n}" %>
    email: <%= "user#{n}@example.com" %>
  <% end %>
{{/scripts-block}}
<h2>Hello World</h2>
<p>

</p>
</div>
{{/each}}
