// $main-background-color: $dark-green;
// $secondary-background: $light-green;
// $font-color: $purpleish;
//
// body {
//   background-color: $main-background-color;
//   color: $font-color;
// }
//
// h2 {
//   color: $secondary-background;
// }
//
// .nav {
//   @include make-row();
//   margin-left: 75%;
//   .nav-button {
//     @include make-lg-column(3);
//     @include make-md-column(3);
//     @include make-sm-column(3);
//     @include make-xs-column(3);
//   }
// }
body {
  background: linear-gradient(to left, #e7fff9 0%, #afffea 100%);
  background-position: fixed;
  max-width: 100%;
  color: #005e51;
}

#feature {
  position: relative;
  background: #ffcccc;
  width: 100%;
}


/* .parallax-container {
  background: #92B558;
  height: 300px;
} */

h1 {
  position: relative;
  background: #eb8c83;
  max-width: 100%;
}

.article {
  position: fixed;
  background: transparent;
  border: double;
  margin: 1px;
  float: left;
  height: 100%;

  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  /*  text-align: center; */
  max-width: 30%;
}

.column1-sm-box {
  position: relative;
  height:300px;
  /*   margin: 0 auto; */
  padding-bottom: 10px;
  text-align: justify;
  width: 20%;
}

.column2-sm-box {
  position: relative;
  height:300px;
    /*margin: 10px;*/

  /* padding:1.2%; */
  padding-bottom: 100px;

  text-align: center;
  width: 20%;
}

.column3-sm-box {
  position: relative;
  height: 100%;
  padding-bottom: 0;
  text-align: justify;
  width: 100px;
}

.column4-sm-box {
  position: relative;
  height: 100%;
  text-align: justify;
  width: 40%;
}

p {
  position: relative;
  text-align: left;
}

.rightCol {
  position: relative;
  text-align: left;
  width: 300px;
}

footer {
  /*background: linear-gradient(to top, #ffffff 30%, #ffcccc 70%);*/
  background: #eb8c83;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 20%;
}
