$main-background-color: $dark-green;
$secondary-background: $light-green;
$font-color: $purpleish;

body {
  background-color: $grey;
  border: $blue-grey;
  color: $font-color;
}

.input-field{
    background-color: $materialize-pink;
}

.container {
  background-color: $materialize-pink;
}

.nav {
  @include make-row();
  margin-left: 75%;

  .nav-button {
    @include make-lg-column(3);
    @include make-md-column(3);
    @include make-sm-column(3);
    @include make-xs-column(3);
  }
}
